# Virtual environments
venv/
.venv/

# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs and runtime artifacts
*.log
celerybeat-schedule

# Databases and local state
*.db
*.sqlite3

# Env & Secrets
.env
secrets.yaml

# Test & coverage reports
coverage/
.coverage
htmlcov/
dist/
build/

# Git / SVN / Mercurial
.git/
.svn/
.hg/

# Node/JS artifacts
node_modules/
.next/

# MacOS / editor system files
.DS_Store
*.swp
